USE [dbDanhGiaGiaoVienVietNhat]
GO
/****** Object:  Table [dbo].[admin_AccessGroupUserForm]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_AccessGroupUserForm](
	[guf_id] [int] IDENTITY(1,1) NOT NULL,
	[guf_active] [bit] NULL,
	[groupuser_id] [int] NULL,
	[form_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[guf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_AccessGroupUserModule]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_AccessGroupUserModule](
	[gum_id] [int] IDENTITY(1,1) NOT NULL,
	[gum_active] [bit] NULL,
	[groupuser_id] [int] NULL,
	[module_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[gum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_AccessUserForm]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_AccessUserForm](
	[uf_id] [int] IDENTITY(1,1) NOT NULL,
	[uf_active] [bit] NULL,
	[username_id] [int] NULL,
	[form_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[uf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_Form]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_Form](
	[form_id] [int] IDENTITY(1,1) NOT NULL,
	[form_position] [int] NULL,
	[form_name] [nvarchar](max) NULL,
	[form_link] [nvarchar](max) NULL,
	[form_active] [bit] NULL,
	[module_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_GroupUser]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_GroupUser](
	[groupuser_id] [int] IDENTITY(1,1) NOT NULL,
	[groupuser_name] [nvarchar](max) NULL,
	[groupuser_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupuser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_Module]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_Module](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[module_position] [int] NULL,
	[module_name] [nvarchar](max) NULL,
	[module_icon] [nvarchar](max) NULL,
	[module_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_User]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_User](
	[username_id] [int] IDENTITY(1,1) NOT NULL,
	[username_username] [nvarchar](max) NULL,
	[username_password] [nvarchar](max) NULL,
	[username_fullname] [nvarchar](max) NULL,
	[username_gender] [bit] NULL,
	[username_phone] [nvarchar](max) NULL,
	[username_email] [nvarchar](max) NULL,
	[username_active] [bit] NULL,
	[groupuser_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[username_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbDanhGiaTuQuanTri]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDanhGiaTuQuanTri](
	[danhgiaquantri_id] [int] IDENTITY(1,1) NOT NULL,
	[taikhoan_id] [int] NULL,
	[tieuchuan_id] [int] NULL,
	[danhgiaquantri_loai] [nvarchar](max) NULL,
	[danhgiaquantri_phantram] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[danhgiaquantri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbMucDoTieuChi]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMucDoTieuChi](
	[mucdotieuchi_id] [int] IDENTITY(1,1) NOT NULL,
	[mucdotieuchi_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[mucdotieuchi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNoiDungDanhGiaGiaoVienVietNhat]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNoiDungDanhGiaGiaoVienVietNhat](
	[noidungdanhgiagiaovien_id] [int] IDENTITY(1,1) NOT NULL,
	[noidungdanhgiagiaovien_mucdotieuchi1] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi2] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi3] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi4] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi5] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi6] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi7] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi8] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi9] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi10] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi11] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi12] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi13] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi14] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_mucdotieuchi15] [nvarchar](max) NULL,
	[taikhoan_id] [int] NULL,
	[noidungdanhgiagiaovien_datecreate] [datetime] NULL,
	[noidungdanhgiagiaovien_dateupdate] [datetime] NULL,
	[noidungdanhgiagiaovien_solanupdate] [int] NULL,
	[noidungdanhgiagiaovien_minhchung1] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_minhchung2] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_minhchung3] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_minhchung4] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_minhchung5] [nvarchar](max) NULL,
	[active] [bit] NULL,
	[hidden] [bit] NULL,
	[noidungdanhgiagiaovien_ketquatongket] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[noidungdanhgiagiaovien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNoiDungDanhGiaTuGiaoVien]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNoiDungDanhGiaTuGiaoVien](
	[noidungdanhgiagiaovien_id] [int] IDENTITY(1,1) NOT NULL,
	[noidungdanhgiagiaovien_mucdodatduoccuatieuchi] [nvarchar](max) NULL,
	[noidungdanhgiagiaovien_minhchung] [nvarchar](max) NULL,
	[tieuchi_id] [int] NULL,
	[tieuchuan_id] [int] NULL,
	[noidungdanhgiaovien_datecreate] [datetime] NULL,
	[noidungdanhgiaovien_dateupdate] [datetime] NULL,
	[noidungdanhgiagiaovien_solanupdate] [int] NULL,
	[taikhoan_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[noidungdanhgiagiaovien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTaiKhoan]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTaiKhoan](
	[taikhoan_id] [int] IDENTITY(1,1) NOT NULL,
	[taikhoan_name] [nvarchar](max) NULL,
	[taikhoan_bomon] [nvarchar](max) NULL,
	[taikhoan_pass] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[taikhoan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbThongBao]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbThongBao](
	[thongbao_id] [int] IDENTITY(1,1) NOT NULL,
	[thongbao_name] [nvarchar](max) NULL,
	[thongbao_content] [nvarchar](max) NULL,
	[thongbao_datecreate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[thongbao_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTieuChi]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTieuChi](
	[tieuchi_id] [int] IDENTITY(1,1) NOT NULL,
	[tieuchi_name] [nvarchar](max) NULL,
	[tieuchuan_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tieuchi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTieuChuan]    Script Date: 12/18/2019 3:27:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTieuChuan](
	[tieuchuan_id] [int] IDENTITY(1,1) NOT NULL,
	[tieuchuan_name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[tieuchuan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserForm] ON 

INSERT [dbo].[admin_AccessGroupUserForm] ([guf_id], [guf_active], [groupuser_id], [form_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[admin_AccessGroupUserForm] ([guf_id], [guf_active], [groupuser_id], [form_id]) VALUES (2, 1, 1, 2)
INSERT [dbo].[admin_AccessGroupUserForm] ([guf_id], [guf_active], [groupuser_id], [form_id]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserForm] OFF
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserModule] ON 

INSERT [dbo].[admin_AccessGroupUserModule] ([gum_id], [gum_active], [groupuser_id], [module_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[admin_AccessGroupUserModule] ([gum_id], [gum_active], [groupuser_id], [module_id]) VALUES (2, 1, 1, 2)
INSERT [dbo].[admin_AccessGroupUserModule] ([gum_id], [gum_active], [groupuser_id], [module_id]) VALUES (21, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserModule] OFF
SET IDENTITY_INSERT [dbo].[admin_AccessUserForm] ON 

INSERT [dbo].[admin_AccessUserForm] ([uf_id], [uf_active], [username_id], [form_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[admin_AccessUserForm] ([uf_id], [uf_active], [username_id], [form_id]) VALUES (2, 1, 1, 2)
INSERT [dbo].[admin_AccessUserForm] ([uf_id], [uf_active], [username_id], [form_id]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[admin_AccessUserForm] OFF
SET IDENTITY_INSERT [dbo].[admin_Form] ON 

INSERT [dbo].[admin_Form] ([form_id], [form_position], [form_name], [form_link], [form_active], [module_id]) VALUES (1, 1, N'Quản lý phân quyền', N'admin-access', 1, 1)
INSERT [dbo].[admin_Form] ([form_id], [form_position], [form_name], [form_link], [form_active], [module_id]) VALUES (2, 2, N'Quản lý Module', N'admin-module', 1, 1)
INSERT [dbo].[admin_Form] ([form_id], [form_position], [form_name], [form_link], [form_active], [module_id]) VALUES (3, 3, N'Quản lý Form', N'admin-form', 1, 1)
SET IDENTITY_INSERT [dbo].[admin_Form] OFF
SET IDENTITY_INSERT [dbo].[admin_GroupUser] ON 

INSERT [dbo].[admin_GroupUser] ([groupuser_id], [groupuser_name], [groupuser_active]) VALUES (1, N'root', 1)
INSERT [dbo].[admin_GroupUser] ([groupuser_id], [groupuser_name], [groupuser_active]) VALUES (2, N'Admin', 1)
INSERT [dbo].[admin_GroupUser] ([groupuser_id], [groupuser_name], [groupuser_active]) VALUES (3, N'Giáo viên', 1)
SET IDENTITY_INSERT [dbo].[admin_GroupUser] OFF
SET IDENTITY_INSERT [dbo].[admin_Module] ON 

INSERT [dbo].[admin_Module] ([module_id], [module_position], [module_name], [module_icon], [module_active]) VALUES (1, 1, N'Phân quyền', N'', 1)
INSERT [dbo].[admin_Module] ([module_id], [module_position], [module_name], [module_icon], [module_active]) VALUES (2, 2, N'Tài khoản', N'fas fa-users', 1)
INSERT [dbo].[admin_Module] ([module_id], [module_position], [module_name], [module_icon], [module_active]) VALUES (9, NULL, N'Quản lý đánh giá', N'', 1)
SET IDENTITY_INSERT [dbo].[admin_Module] OFF
SET IDENTITY_INSERT [dbo].[admin_User] ON 

INSERT [dbo].[admin_User] ([username_id], [username_username], [username_password], [username_fullname], [username_gender], [username_phone], [username_email], [username_active], [groupuser_id]) VALUES (1, N'root', N'12378248145104161527610811213823414203124130', N'ROOT', 1, N'01634057167', N'qutienpro@gmail.com', 1, 1)
INSERT [dbo].[admin_User] ([username_id], [username_username], [username_password], [username_fullname], [username_gender], [username_phone], [username_email], [username_active], [groupuser_id]) VALUES (2, N'admin', N'12378248145104161527610811213823414203124130', N'Quản trị', 1, N'12345', N'quantri@hifiveplus.vn', 1, 2)
INSERT [dbo].[admin_User] ([username_id], [username_username], [username_password], [username_fullname], [username_gender], [username_phone], [username_email], [username_active], [groupuser_id]) VALUES (3, N'kimthu', N'12378248145104161527610811213823414203124130', N'Kim Thư', 0, N'67891', N'staff@hifiveplus.vn', 1, 3)
SET IDENTITY_INSERT [dbo].[admin_User] OFF
SET IDENTITY_INSERT [dbo].[tbMucDoTieuChi] ON 

INSERT [dbo].[tbMucDoTieuChi] ([mucdotieuchi_id], [mucdotieuchi_name]) VALUES (1, N'Đạt')
INSERT [dbo].[tbMucDoTieuChi] ([mucdotieuchi_id], [mucdotieuchi_name]) VALUES (2, N'Khá')
INSERT [dbo].[tbMucDoTieuChi] ([mucdotieuchi_id], [mucdotieuchi_name]) VALUES (3, N'Tốt')
SET IDENTITY_INSERT [dbo].[tbMucDoTieuChi] OFF
SET IDENTITY_INSERT [dbo].[tbNoiDungDanhGiaGiaoVienVietNhat] ON 

SET IDENTITY_INSERT [dbo].[tbNoiDungDanhGiaGiaoVienVietNhat] OFF
SET IDENTITY_INSERT [dbo].[tbThongBao] ON 

SET IDENTITY_INSERT [dbo].[tbThongBao] OFF
SET IDENTITY_INSERT [dbo].[tbTieuChi] ON 

INSERT [dbo].[tbTieuChi] ([tieuchi_id], [tieuchi_name], [tieuchuan_id]) VALUES (1, N'Tiêu chí 1. Đạo đức nhà giáo', 1)
INSERT [dbo].[tbTieuChi] ([tieuchi_id], [tieuchi_name], [tieuchuan_id]) VALUES (2, N'Tiêu chí 2. Phong cách nhà giáo', 1)
INSERT [dbo].[tbTieuChi] ([tieuchi_id], [tieuchi_name], [tieuchuan_id]) VALUES (3, N'Tiêu chi 3. Phát triển chuyên môn bản thân', 2)
SET IDENTITY_INSERT [dbo].[tbTieuChi] OFF
SET IDENTITY_INSERT [dbo].[tbTieuChuan] ON 

INSERT [dbo].[tbTieuChuan] ([tieuchuan_id], [tieuchuan_name]) VALUES (1, N'Tiêu chuẩn 1. Phẩm chất nhà giáo')
INSERT [dbo].[tbTieuChuan] ([tieuchuan_id], [tieuchuan_name]) VALUES (2, N'Tiêu chuẩn 2. Phát triển chuyên môn, nghiệp vụ')
INSERT [dbo].[tbTieuChuan] ([tieuchuan_id], [tieuchuan_name]) VALUES (3, N'Tiêu chuẩn 3. Xây dựng môi trường giáo dục')
SET IDENTITY_INSERT [dbo].[tbTieuChuan] OFF
ALTER TABLE [dbo].[admin_AccessGroupUserForm]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [dbo].[admin_Form] ([form_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessGroupUserForm]  WITH CHECK ADD FOREIGN KEY([groupuser_id])
REFERENCES [dbo].[admin_GroupUser] ([groupuser_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessGroupUserModule]  WITH CHECK ADD FOREIGN KEY([groupuser_id])
REFERENCES [dbo].[admin_GroupUser] ([groupuser_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessGroupUserModule]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[admin_Module] ([module_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessUserForm]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [dbo].[admin_Form] ([form_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessUserForm]  WITH CHECK ADD FOREIGN KEY([username_id])
REFERENCES [dbo].[admin_User] ([username_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_Form]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[admin_Module] ([module_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_User]  WITH CHECK ADD FOREIGN KEY([groupuser_id])
REFERENCES [dbo].[admin_GroupUser] ([groupuser_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
